{% extends 'partials/base.html.twig' %}

{% block title %}Hello OrangeController!{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap Css -->
    <link href="{{ asset('css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset('css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset('css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/dylan/symfony/dn.saas.sso/src/App/Controller/OrangeController.php'|file_link(0) }}">src/App/Controller/OrangeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/dylan/symfony/dn.saas.sso/templates/orange/index.html.twig'|file_link(0) }}">templates/orange/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
